<table class="table items-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Person</th>
      <th scope="col">Department</th>
      <th scope="col">Bought</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <% list.items.each_with_index do |item, index| %>
      <tr class="items-table-item <%= item.bought ? "item-bought" : "" %>">
        <th scope="row"><%= index + 1 %></th>
        <td>
          <%= react_component("items/EditableField", { id: item.id, field: "name", text: item.name, csrf: form_authenticity_token }) %>
        </td>
        <td>
          <%= react_component("items/EditableField", { id: item.id, field: "person", text: item.person, csrf: form_authenticity_token }) %>
        </td>
        <td>
          <%= react_component("items/EditableField", { id: item.id, field: "department", text: item.department, csrf: form_authenticity_token }) %>
        </td>
        <td>
          <%= check_box_tag("bought", "1", item.bought, class: "list-item-bought-toggle", "data-remote" => true, "data-url" => item_path(item), "data-params" => "id=#{item.id}", "data-method" => "put", "data-type" => "json") %>
        </td>
        <td>
          <%= link_to image_tag("x.png", width: 16), item, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
