<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @friend.username %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @friend.uid %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
